<section>
<div>

<h1></h1>

</div>

<div class="card col-lg-8 col-md-8 col-sm-8 col-xs-12 mx-auto bg-warning">
<div class="card-header bg-success">
	<h1 class="mx-auto">About Us</h1>

</div>
  	<h2> _ _ አላማችን _ _</h2>
  	<br>
  	<h3> አገልግሎት ፈላጊን እና አገልግሎት ሰጪን በቀላሉ ማገናኘት ነዉ። </h3>
  	<br>
  	<b>
  	<h4> የyageren.com መፈጠር ዋነኛዉ ምክኒያት በዉጭ ሀገር ያሉ እንዲሁም በሀገር ዉስጥ ያሉ ኢትዮዽያዉያን አገልግሎት ፈላጊ እና ሰጪ መሃከል ያለዉን የመረጃ ክፍተት ለመሙላት ነዉ። Yageren.comን በመጠቀም በደቂቃዎች ዉስጥ የሚፈልጉትን ማግኘት ይችላሉ።</h4>
  	<br>
  	<br>
  	<br>

</div>

</section>
