<section>


<div>

<h1></h1>

</div>

<div class="card col-lg-8 col-md-8 col-sm-8 col-xs-12 mx-auto bg-warning">
<div class="card-header bg-success">
	<h1 class="mx-auto">Contact Us</h1>

</div>
	<br>
	<br>
  	<h3>
  		አስተያየት፥ ድጋፍ ወይንም ቅሬታ አለዎት? መልዕክቶትን በ <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=yageren17@gmail.com"> yageren17@gmail.com </a> ቢልኩልን ምላሻችን ፈጣን ነዉ። ወይንም ደሞ በ <a href="https://www.facebook.com/yageren2018/" class="fa fa-facebook">acebook</a> ገጻችን ያገኙናል
  </h3>
  
<!-- <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/yageren2018/"><img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0>Follow us on facebook</a> -->



</div>
</section>
